<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>后台登录-X-admin1.1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../X-admin/css/font.css">
    <link rel="stylesheet" href="../X-admin/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="../jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="../layui/layui.js" charset="utf-8"></script>
    <script src="../layui/css/layui.css" charset="utf-8"></script>
    <script type="text/javascript" src="../X-admin/js/xadmin.js"></script>
    <script type="text/javascript" src="../jquery/jquery-3.3.1.js"></script>

</head>
<body>
<table class="layui-table" id="test" lay-filter="test"></table>

<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'/getmerchantlist'
            ,title: '用户数据表'
            ,cols: [
                [
                {field:'id', title:'商家ID', width:20 }
                ,{field:'menuid', title:'菜单ID', width:20}
                ,{field:'announcement', title:'公告', width:20 }
                ,{field:'type', title:'营业状态', width:20}


            ]
            ]

        });


        //监听行工具事件

    });
</script>

</body>
</html>