<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../../static/X-admin/css/font.css">
    <link rel="stylesheet" href="../../static/X-admin/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="../../static/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="../../static/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/X-admin/js/xadmin.js"></script>

</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="../index.html">XFP—西邮服务平台后台</a></div>
    <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">个人信息</a></dd>
                <dd><a href="">切换帐号</a></dd>
                <dd><a href="../login.html">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/">前台首页</a></li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li class="list">
                    <a href="index.html">
                        <i class="iconfont">&#xe70b;</i>
                        校园快递
                    </a>
                </li>
                <li class="list">
                    <a href="my_express.html">
                        <i class="iconfont">&#xe70b;</i>
                        我的快递
                    </a>
                </li>
                <li class="list">
                    <a href="express-add.html">
                        <i class="iconfont">&#xe70b;</i>
                        代取快递
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->

            <xblock>
                <fieldset class="layui-elem-field layui-field-title site-title">
                <legend><a name="default">校园快递服务</a></legend>
            </fieldset>
            </xblock>
            <table class="layui-table" id="express_list">
            </table>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Copyright ©2017 x-admin v2.3 All Rights Reserved. 本后台系统由X前端框架提供前端技术支持</div>
</div>
<!-- 底部结束 -->

<script>

    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#express_list'
            , url: '/'
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                {field: 'id', width: 80, title: 'ID', sort: true}
                , {field: 'name', width: 120, title: '用户名'}
                , {field: 'company', width: 120, title: '快递公司', sort: true}
                , {field: 'expressnumber', width: 150, title: '快递单号'}
                , {field: 'phonenumber', title: '联系电话', width: 200, minWidth: 100} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                , {field: 'address', title: '送达地址', width: 300, sort: true}
                , {field: 'status', title: '状态', sort: true}
            ]]
        });
    });


</script>
</body>
</html>